//Colors

$primary-1: #222222;
$primary-2: #777366;
$white: #ffffff;
$grey-shade: #faf9ff;
$blue: #007EE5;
$bg-gray:#f8f8f8;
$grey-dark:#eeeeee;
$light-bg: #dedede;
$dark-bg: #000000;
$purple-light: #cfd4fe;
$dark-blue: #2b4afc;
$grey-medium: #545454;
$light-white: #FAFAFA;
$grey-rare: #535766;
$grey-black: #282C3F;
$border-light: #EAEAEC;
$orange: #F16565;
$shadow: #00000029;
$footer-bg: #1B1B1B;
$brand-icons: #707479;
$black-1: #171717;
$copyright: #DFE2EB;

//Font
$segoe-light: 'segoe-light';
$segoe-regular: 'segoe-regular';
$segoe-semibold: 'segoe-semibold';
$segoe-bold: 'segoe-bold';