.banner{
    background: url(../../images/banner.png) no-repeat center center;
    background-size: cover;
    color: $white;
    display: flex;
    height: 500px;
    margin-bottom: 20px;
    min-height: 375px;
    position: relative;    
    
    &__overlay{
        background: rgba(0,0,0,.5);
        height: 100%;
        position: absolute;          
        width: 100%;      
        z-index: 1;
    }
    &__content{
        margin: auto 60px;  
        position: relative;
        width: 400px;
        z-index: 2;
        @include if-max-break(xl){
            width: 340px; 
            margin: auto 30px;
        }
        @include if-max-break(md){
            width: 260px; 
            margin: auto 15px;
        }
        @include if-max(sm) {
            width: 100%;
            text-align: center;
        }
    }
    &__title{
        font-family: $segoe-bold;
        font-size: 40px;
        margin-bottom: 24px;
        text-transform: uppercase;   
        @include if-max-break(xl){
            font-size: 35px;
        }     
        @include if-max-break(md){
            font-size: 28px;
        }     
    }    
    &__description{
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 30px;
        @include if-max-break(md){
            font-size: 15px;
            line-height: 25px;
        } 
        
    }
    .btn--white{
        background: rgba(255,255,255,.23);
        color: $light-white;
        font-size: 27px;
        text-transform: uppercase;
    }
    &--small{
        height: 225px;
        .banner__title{
            margin-top: 15px;
            margin-bottom: 14px;
        }
    }  
    .dark--theme & {
        .btn--white{
            background: $dark-blue;
            color: $white;
        }
    }  
}