.newsletter{
    background: $white;
    &__wrapper{
        border: 1px solid $border-light;
        border-radius: 10px; 
        overflow: hidden; 
    }      
    &__title{
        color: $grey-rare;
        font-family: $segoe-light;
        font-size: 40px;
        margin-bottom: 10px;
        .dark--theme &{
            color: $white;
        }
        @include if-max-break(md) {
            font-size: 20px;
        }
    }
    &__info{
        color: $grey-black;
        .dark--theme &{
            color: $white;
        }
        &--title{
            font-size: 24px;
            font-family: $segoe-light;
            line-height: 28px;
            margin-bottom: 20px;
            @include if-max-break(lg) {
                font-size: 22px;
                line-height: 26px;
            }
        }
        &--content{
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 20px;
            @include if-max-break(lg) {
                font-size: 14px;
                line-height: 19px;
            }
        }
        @include if-max(sm) {
            padding: 15px 30px;
        }
    }
    &__textbox{
        background: #2C3033;
        border: none;
        color: $white;        
        height: 46px;
        padding: 12px 15% 15px 25px;
        width: 90%;
        &:focus{
            box-shadow: 0 0 4px inset $grey-medium;
            outline: none;
            transition: all 0.5s linear;
        }
        &::placeholder { 
            color: $white;
            opacity: 1; /* Firefox */
          }
          
        &:-ms-input-placeholder { 
            color: $white;
        }
        
        &::-ms-input-placeholder {
            color: $white;
        }
    }
    &__content{
        position: relative;
        .form-group{
            margin: 0;
            label{
                opacity: 0;
                display: block;
                margin: 0;
                height: 0;
            }
        }
        .btn--blue{
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px 31px 12px;
        }
    }
    .light--theme & {
        background: $purple-light;
    }
    .dark--theme & {
        background: $dark-blue;
        .btn--blue{
            background: $dark-bg;
            color: $white;
        }
    }
}